
#banner{width: 100%;height:400px;overflow: hidden;position: relative;}
#banner #list{width:500%;height:400px;position: absolute;}
#banner li{width: 1920px;height: 400px;float: left;}
#banner li:nth-child(3){position:absolute;left: 3841px;}
#banner li img{width: 100%;height: 100%;}
.center .ding{padding-left:85px;width:550px;height:60px;margin: auto;}
.center .ding div{width: 232px;height: 46px;border: 1px solid #333333;float: left;
text-align: center;line-height: 46px;margin:20px auto;color:#33333 ;font-size: 18px;}
.center .ding div:hover{background: #666666;color: white;}
.center .ding div:last-child p{width: 30px;height:30px;border-radius:30px;background: #ED145B;
line-height: 30px;color: white; text-align: center;float: right;margin-top:9px;margin-right:30px ;}
.center .yi-zhuti{width: 100%;height:1650px;}
.center .yi-zhuti ul li{float: left;margin:6px;}
.center .yi-zhuti ul li:hover{opacity:0.8;}
.center .meiri{color:black;font-size:20px;font-weight:bold;padding-left: 400px;}
.center .er-zhuti{width: 1100px;height: 342px;position: relative;margin: auto;overflow: hidden;
margin-top: 20px;}
.center .er-zhuti img{position: absolute; left:-300px;top:-40px;}
.center .er-zhuti .right1{width:465px;height:342px;box-shadow: 0 0 2px #000000;
background: #fffff;position: absolute;right: 0px;margin: 2px;}
.center .er-zhuti .right1 .a{width: 196px;height:27px;background: #333333;margin: auto;color: white;
line-height:27px;text-align: center;font-size: 14px;}
.center .er-zhuti .right1 .b{width: 386px;height:155px ;margin: auto;color: #666666;font-size:16px;margin-top: 40px;}
.center .er-zhuti .right1 .b span{color: #ED145B;}
.center .er-zhuti .right1 .c{ width:150px;height: 37px;font-size:26px;font-weight: bold;color: black;
margin-left: 40px;float: left;}
.center .er-zhuti .right1 .c span{font-size: 14px;color:#666666}
.center .er-zhuti .right1 .jiaru{float: right;width:105px;height: 37px;background: #ED145B;color: white;
font-size: 18px;text-align: center;line-height: 37px;margin-right: 50px;margin-top: -5px;cursor: pointer;
}
.center .er-zhuti .right1 .jiaru:hover{color: #ED145B;background: #FFFFFF;border: 1px solid #ED145B;}
.center .er-zhuti .right1 .d{width: 55px;height: 32px;background: #E92A10;color: #fffff;float: left;
line-height: 32px;text-align: center;margin: 50px 0 0 -150px;color: white;font-size: 14px;}
.center .er-zhuti .right1 .dspan{float: left;margin: 55px 0 0 -85px;font-size: 14px;}
.center .er-zhuti .right1 .e{float: right;font-size: 12px;color: black;font-weight: bold;margin:20px 75px 0 0;}
.center .er-zhuti .right1 .e span{color: #666666;font-size: 20px;}
.center .er-zhuti .mengban{width: 584px;height: 330px;background: rgba(255,255,255,0.4) url(../img/new_haitao_icon.jpg) no-repeat;position: absolute;display: none;}
.center .er-zhuti .mengban p{font-size: 16px;color: #666666;padding-top: 310px;padding-left: 20px;}
.center .er-zhuti:hover .mengban{display: block;}
.center .xiaokuang{width: 100%;height:26px ;border-bottom:4px solid black;overflow: hidden;margin: 30px auto;}
.center .xiaokuang p:first-child{width: 400px;height: 27px;float: left;}
.center .xiaokuang p:last-child{float: right;color: #ED145B;font-size: 14px;}
.center .san-zhuti{width: 354px;height: 472px;background: white;position: relative;margin: 5px;float: left;}
.center .san-zhuti .n{width:348px;margin: auto;color:black;font-size:14px;margin-top: 40px;}
.center .san-zhuti .n span{color: #ED145B;}
.center .san-zhuti .vv{width:150px;height: 37px;font-size:18px;color:#ED145B;
margin-left: 40px;float: left;}
.center .san-zhuti .mengban2{width: 354px;height: 472px;background: rgba(255,255,255,0.4) url(../img/new_haitao_icon.jpg) no-repeat;position: absolute;display: none;
top:0;left: 0;}
.center .san-zhuti:hover .mengban2{display: block;}
.center .san-zhuti-da{width: 100%;height: 5800px;}
.guding1{width:58px;height:180px;position: fixed;top:300px;left: 150px;}
.guding1 li{width: 58px;height: 60px;}
.guding1 li:nth-of-type(1){height:60px;background: #fd6397;color: #FFFFFF;font-size: 18px;font-weight: bold;text-align: 
center;padding-top: 10px;}
.guding1 li:nth-of-type(1):hover{background: white;color: #FD6397;}
.guding1 li:nth-of-type(3):hover{background: white;color: #FD6397;}
.guding1 li:nth-of-type(3){height:60px;background: #fd6397;color: #FFFFFF;font-size: 18px;font-weight: bold;text-align: 
center;padding-top: 10px;}
.guding1 li:nth-of-type(2){background: url(../img/images/pc_new_02.png);line-height:100px;}
.guding1 li:nth-of-type(2) p{color: #FD6397;font-size: 14px;}
.guding1 li:nth-of-type(2):hover{background: url(../img/images/pc_new_04.png);}
.guding1 li:nth-of-type(2):hover p{color: #FFFFFF;}
.guding2{width:45px;height: 1080px;background: #444851;position: fixed;top: 0px;right: 0px;}
.guding2 ul{width: 45px;height: 338px;margin-top:150px;}
.guding2 ul li{height: 45px;width: 45px;margin-top: 10px;}
.guding2 ul li:nth-of-type(1){background: url(../img/images/images/ibar_sprites_01.png) no-repeat center center;}
.guding2 ul li:nth-of-type(1):hover{background:#ED145B url(../img/images/images/ibar_sprites_03.png) no-repeat center center;}
.guding2 ul li:nth-of-type(2){background: url(../img/images/images/ibar_sprites_07.png) no-repeat center 20px;height:95px;color: white;
font-size: 16px;text-align: center;padding-top:40px;}
.guding2 ul li:nth-of-type(2) p{width: 25px;height:25px;color: white;background: #ED145B;border-radius:20px ;text-align: center;
line-height: 25px;margin-left:10px;margin-top: 5px;}
.guding2 ul li:nth-of-type(2):hover{background:#ED145B url(../img/images/images/ibar_sprites_09.png) no-repeat center 20px;}
.guding2 ul li:nth-of-type(3){background: url(../img/images/images/ibar_sprites_12.png) no-repeat center center;}
.guding2 ul li:nth-of-type(3):hover{background:#ED145B url(../img/images/images/ibar_sprites_14.png) no-repeat center center;}
.guding2 ul li:nth-of-type(4){background: url(../img/images/images/ibar_sprites_18.png) no-repeat center center;}
.guding2 ul li:nth-of-type(4):hover{background:#ED145B url(../img/images/images/ibar_sprites_19.png) no-repeat center center;}
.guding2 ul li:nth-of-type(5){background: url(../img/images/images/ibar_sprites_23.png) no-repeat center center;}
.guding2 ul li:nth-of-type(5):hover{background:#ED145B url(../img/images/images/ibar_sprites_26.png) no-repeat center center;}
.guding2 dl{width: 45px;height:117px;margin-top:280px;}
.guding2 dl dt{width: 45px;height: 45px;}
.guding2 dl dt:nth-of-type(3){background: url(../img/images/images/images/ibar_sprites_01_41.png) no-repeat center center;}
.guding2 dl dt:nth-of-type(1){background: url(../img/images/images/images/ibar_sprites_01_30.png) no-repeat center center;}
.guding2 dl dt:nth-of-type(1):hover{background:#ED145B url(../img/images/images/ibar_sprites_31.png) no-repeat center center;}
.guding2 dl dt:nth-of-type(2){background: url(../img/images/images/images/ibar_sprites_01_34.png) no-repeat center center;}
.guding2 dl dt:nth-of-type(2):hover{background:#ED145B url(../img/images/images/ibar_sprites_35.png) no-repeat center center;}




