
#banner{width: 100%;height:350px;overflow: hidden;}

/*上部分结束*/
#zhuti{width: 100%;height: 4900px;background: url(../imgyunying/pop_top_bg.jpg) no-repeat #EFF8F5;}
.center .er-zhuti1{position: relative;}
#zhuti .center .first{width:980px;margin:20px auto;}
#zhuti .center .first p{float: left;margin: 5px;}
.center .yi-zhuti{width:985px;height:1050px;margin: auto;}
.center .yi-zhuti .left1{float: left;}
.center .yi-zhuti ul li{float: left;margin:6px;}
.center .yi-zhuti ul li:hover{opacity:0.8;}
.center .meiri{color:black;font-size:20px;font-weight:bold;padding-left: 360px;padding-top:30px;padding-bottom: 30px;}
.center .xiao{color: #333333; font-size: 18px;padding: 30px 0 30px 340px;}

.center .er-zhuti:nth-of-type(1){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5979c9b8d5a_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(2){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5ac9093fbb1_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(3){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b062792a4ae5_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(4){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5acf35415c72f_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(5){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5acf0214d1474_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(6){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b56d936d62f1_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(7){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5a55bea9da906_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(8){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b3dc7a4d051f_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(9){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b56d936d62f1_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(10){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5ab30a3779a_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(11){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5ac9093fbb1_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(12){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5e726cca729_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(13){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5eb2e70e037_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(14){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5ed5776b077_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(15){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b617214300e4_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(16){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b5fdb3c7010a_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(17){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b610b7c96338_500_245.jpgg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(18){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b62ade1e1d59_500_245.jpg) right center no-repeat;margin-top: 10px;}
.center .er-zhuti:nth-of-type(19){width: 705px;height: 244px;background: #FFFFFF url(../imgyunying/5b62acb2e4db6_500_245.jpg) right center no-repeat;margin-top: 10px;}













.center .er-zhuti p:nth-of-type(1){color: black;font-size: 16px;font-weight: bold;margin-left:30px;margin-top: 15px;}
.center .er-zhuti p:nth-of-type(2){color: #333333;font-size: 14px;margin-left:30px;margin-top: 15px;}
.center .er-zhuti p:nth-of-type(3){margin-left:30px;margin-top: 15px;}
.center .er-zhuti .blaok{color: #ffff;width: 100%;height: 20px;background: rgba(0,0,0,0.4);margin-top:22px;text-align: center;
display: none;}
.center .er-zhuti:hover .blaok{display: block;}
.center .right1{width:255px;height: 516px;background: white;position: absolute;right: 0px;top:0px;}
.center .right1 .heizi{width: 100%;height: 30px;background: #333333;color: #FFFFFF;font-size: 14px;line-height: 30px;
text-align: center;}
.center .right1 p{color: #ED145B;font-size: 14px;margin: 15px auto;font-weight: bold;width:80px;}
.center .right1 p span{font-size: 12px;color: #666666;}
.center .right1 .line1{width:30px;height: 1px;border-bottom: 2px solid #ED145B;margin-left:110px;}
.center .right1 .img{width: 250px;margin-top:20px;margin-left: 7px;}
.center .right1 .img img{width: 120px;}








